@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
* {
  margin: 0;
  padding: 0;
  background-color: gray;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Protest Riot', sans-serif;
  cursor: pointer;
}
header {
  height: 10svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: chartreuse;
  border-bottom: 1px solid black;
}
ul {
  min-width: 10%;
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-right: 10px;
  color: darkviolet;
}
a:hover {
  color: chartreuse;
}
button {
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px solid black;
  color: white;
  background-color: coral;
}
main {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid black;
}
aside {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: 2px solid black;
}
div > img {
  max-width: 20%;
  height: 60px;
}
.logo {
  font-size: smaller;
  font-style: oblique;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo2 > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: chartreuse;
}

footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: alias;
  border: 2px solid black;
}
.redes > ul > li > img {
  width: 20px;
  height: 20px;
}
@media (max-width: 540px) {
  a {
    display: none;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
